@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px 25px 0 25px;
}

.wrapper ul {
  padding: 0;
}
.wrapper li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.single-card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 23%;
  min-width: 270px;
  border-radius: 5%;
  border: 2px solid #ccc;
  padding: 10px 15px;
  min-height: 300px;
  margin-bottom: 20px;
}
.single-card h3 {
  margin: 0;
  text-align: center;
  color: white;
  padding: 5px 0;
  border-radius: 5px;
}
.single-card textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.btn {
  box-shadow: 1px 1px 1px grey;
  border: 1px solid transparent;
  width: 15px;
  height: 15px;
  padding: 0;
  color: white;
}
.btn-del {
  border-radius: 50%;
  font-size: 12px;
  background-color: #f2837b;
}
.btn-add {
  background-color: #1969d8;
}
.btn-add:hover {
  filter: brightness(150%);
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn-del:hover {
  background-color: red;
}
.btn-input {
  box-shadow: 1px 1px 2px silver;
}
.btn-input:hover {
  cursor: pointer;
  filter: contrast(120%);
}
.content {
  width: 100%;
  margin: 8px 0 0 5px;
  padding: 5px;
  word-wrap: break-word;
  background-color: rgba(237, 249, 219, 0.2);
  border-radius: 3px;
  box-shadow: 1px 1px 2px silver;
}
.btn-add + label {
  margin-left: 10px;
  color: #aaa;
}
.btn-add + label:hover {
  cursor: pointer;
  color: orange;
}
